:root {
    --black: #070707;
    --white: #fff;
    --shell: #ddd;
    --text-color: #adadad;
    --border-color: #1c1c1c;
    --yellow: #FFDE91;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('AvenirNext-Regular.woff2') format('woff2'),
        url('AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 28px;
    color: var(--text-color);
}

html {
    overflow: hidden;
    background-color: var(--black);
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avenir Next', serif;
    font-weight: 400;
    margin-top: 0;
    color: var(--white);
}

h1 {
    font-size: 30px;
    line-height: 35px;
}

h3 {
    font-size: 23px;
    line-height: 28px;
    margin: 25px 0 20px 0;
}

p, span, li {
    font-family: 'Manrope', sans-serif;
    line-height: 28px;
}

a {
    cursor: pointer;
    color: var(--yellow);
    text-decoration: none;
    transition: color .2s ease, opacity .2s ease;
}

a:hover {
    opacity: .5;
}

.sidebar a {
    color: var(--text-color);
}

.sidebar a:hover {
    color: var(--yellow);
}

a.active {
    color: var(--yellow);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    padding: 35px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    padding-left: 13px;
}

.sidebar-links a {
    display: block;
    margin-bottom: 20px;
}

.sidebar-links a:last-of-type {
    margin-bottom: 0;
}

.sidebar p {
    margin-bottom: 0;
}

.sidebar-footer a {
    margin-right: 7px;
}

.button:hover {
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0);
}

nav a:last-of-type {
    margin: 0;
}

.logo-container {
    transition: opacity .2s ease, transform .2s ease;
    display: flex;
    align-content: center;
    z-index: 3;
}

.logo-container img {
    height: 72px;
}

.logo-container h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 95px;
    color: var(--shell);
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 350px;
    top: 0;
    bottom: 0;
    right: 0;
}

.main-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 55px 60px 60px 0;
}

/* Scrollbars */

html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) var(--black);
}

.main-body::-webkit-scrollbar-track {
    scrollbar-color: var(--black);
}

.main-body::-webkit-scrollbar {
    width: 6px;
}

.main-body::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 6px;
    transition: background-color .2s ease;
}

/* Divider */

.divider {
    width: 100%;
    margin: 25px 0;
    border-bottom: 1px solid var(--border-color);
}

.mobile-menu-btn {
    display: none;
}

/* Mobile */
@media (max-width: 950px) {

    html {
        overflow: auto;
    }

    .main-body {
        border: none;
        border-radius: unset;
        padding: 25px 25px 100px 25px;
    }

    .sidebar {
        position: fixed;
        background-color: var(--black);
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        height: 89px;
        width: unset;
        padding: 0 25px;
        border-right: none;
        border-top: 1px solid var(--border-color);
    }

    .sidebar-links {
        padding: 0;
    }

    .logo-container {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-left: 25px;
        background-color: var(--black);
        transition: opacity .2s ease, transform .2s ease;
        z-index: 3;
    }

    .logo-container img {
        height: 51px;
    }

    .logo-container h1 {
        line-height: 48px;
    }

    section {
        position: unset;
        padding: 0;
    }
    
    .menu {
        position: fixed;
        background-color: var(--black);
        left: 0;
        bottom: 88px;
        right: 0;
        height: unset;
        padding: 25px;
        border-top: 1px solid var(--border-color);
        transform: translateY(466px);
        transition: transform .2s ease;
        z-index: 1;
    }

    .menu-on .menu {
        transform: translateY(0);
    }

    .close,
    .menu-on .open {
        display: none;
    }

    .open,
    .menu-on .close {
        display: block;
    }

    .sidebar-links {
        position: unset;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--border-color);
    }

    .mobile-menu-btn {
        position: absolute;
        right: 25px;
        top: 34px;
        height: 22px;
        cursor: pointer;
        z-index: 4;
    }

    .dimmer {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .75);
        opacity: 0;
        transition: opacity .2s ease;
        z-index: 0;
    }

    .menu-on .dimmer {
        opacity: 1;
    }
}